include ./../parts/header.pug
div(id="content")
    h1 Page de contact
    a(href="https://github.com/ILikeBananas" class="SocialLink")
            div(class="SocialLinkContainer")
                img(src="../img/github.svg" class="linkIcon")
                span GitHub/ILikeBananas

    a(href="https://www.linkedin.com/in/jonny-hofmann-0294ab163/" class="SocialLink") 
            div(class="SocialLinkContainer")
                img(src="../img/linkedin.svg" class="linkIcon")
                span Jonny Hofmann on LinkedIn 

    a(href="mailto:jonnyhofmann@gmx.ch" class="SocialLink") 
            div(class="SocialLinkContainer")
                img(src="../img/mail.svg" class="linkIcon")
                span JonnyHofmann@gmx.ch 



include ./../parts/footer.pug