include ./../parts/header.pug
h1 Formations
h2 Apprentissage
p Diplôme : Informaticien d'entreprise CFC
p Durée : Août 2014 jusqu'en Juillet 2018
p Plan de formation ICT 
    a(href="https://www.ict-berufsbildung.ch/fileadmin/user_upload/02_Francais/01_formation_initiale/PDF/PlanFormation_InformatiqueEntreprise_V1.21.pdf") PDF

h2 Technicien
p Diplôme : Technicien diplômé ES en informatique
p Durée : Novembre 2018 jusqu'en novembre 2020
p 
    a(href="https://www.divtec.ch/ecole-superieure-technique/informatique/") Site divtec

h1 Connaissances professionnelles
h2 Programmation
h3 Languages
ul
    li C++
    li Javascript
    li Typescript
    li Java
    li C#

h2 Technologies web
ul
    li Javascript
    li Ecmascript
    li Typescript
    li NodeJS
    li PUG
    li React
    li HTML 5
    li CSS 3
    li PHP

include ./../parts/footer.pug