include ./../parts/header.pug
h1 Projets
div(class="project")
    h2 Jump'n'run
    p Ceci était le projet pour les portes ouvertes de 2018 à la DIVTEC. Le but était de créer un jeu du style de Temple run mais en utilisant des technologies web et une kinect. Ce projet était réalisé avec deux camarades. Je travaillait sur le débugage, contrôle du code, kinect et de l'interface des scores.
    a(href="https://github.com/ILikeBananas/JumpNrun" class="SocialLink")
        div(class="SocialLinkContainer")
            img(src="../img/github.svg" class="linkIcon")
            span ILikeBananas/JumpNrun

div(class="project")
    h2 EST: Projet module 2
    p Programme complet en C# et winform capable de modifier des recettes créer dans une base de données. Gestion de projet et documentation complète. 
    a(href="https://github.com/ILikeBananas/JumpNrun" class="SocialLink")
        div(class="SocialLinkContainer")
            img(src="../img/github.svg" class="linkIcon")
            span ILikeBananas/app_module_2

div(class="project")
    h2 ILBSYS
    p ILBSYS sont deux programmes (Android et WPF) pour se connecter sur un serveur InfluxDB, lire et visualiser les données qui sont sauevargdé sur celle-ci.
    a(href="https://github.com/ILikeBananas/ILBSYS_android" class="SocialLink")
        div(class="SocialLinkContainer")
            img(src="../img/github.svg" class="linkIcon")
            span ILikeBananas/ILBSYS_android

    a(href="https://github.com/ILikeBananas/ILBSYS_wpf" class="SocialLink")
        div(class="SocialLinkContainer")
            img(src="../img/github.svg" class="linkIcon")
            span ILikeBananas/ILBSYS_WPF
    
include ./../parts/footer.pug