/***************
    GENERAL
****************/

body{
  font-family: "Open sans", sans-serif;
  margin: 0 0 0 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
h1 {
	font-family: 'Changa one', sans-serif;
	margin: 3% 0 0 0;
	font-size: 1.75em;
	line-height: 0.8em;
}

h2 {
	margin: 1% 0 0 0;
}

/***************
    Head
****************/
header {
  margin: 0 0 30px;
  padding: 5px 0 0 0;
  font-family: 'Kaushan Script', cursive;
}
header h1 {
  font-family: 'Kaushan Script', cursive;
}
header h2 {
  font-size: 1em;
}

#logo {
	text-align: left;
	margin: 0;
  margin-left: 20px;
  margin-bottom: 5px;
  color: white;
  font-weight: bold;
  display: inline-block;
  width: 35%;
}

#header-body {
  background-color: #19B5FE;
  height: 5px;
}

/***************
    Nav
****************/

nav {
	text-align: right;
	padding: 10px 0;
	margin: 20px 0 0;
  color : white;
  display: inline-block;
  width: 60%;
}

nav ul{
	padding: 0;
	list-style-type: none;
	margin:0 10px;

}

nav ul li{
	display: inline;
}

nav ul li a {
	font-weight: bold;
	padding:15px 10px;
  color: white;
}
nav .selected {
  text-shadow: 1px 2px  #888;
  background-color: #19B5FE;
  border-radius: 4px;
  text-decoration-color: #19B5FE;
}

/***************
    Flaticon
****************/
#flaticon {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}
#flaticon a {
  color: #999;
}

/***************
    Social media links
****************/
.SocialLinkContainer {
  border-style: solid;
  border-width: 2px;
  border-color: #999;
  height: 50px;
  line-height: 40px;
  max-width: 270px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  display: inline-block;
}
.linkIcon {
  width: 40px;
  height: 40px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  display: inline-block;
}

.SocialLinkContainer span {
  line-height: normal;
  display: inline-block;
  vertical-align: top;
  color: #888;
  text-align: center;
  margin-top: 20px;
}

/***************
    Project page
****************/
.project {
  max-width: 600px;
  margin-bottom: 25px;
  margin-left: 10px;
}

.project h2 {
  font-size: large;
  text-decoration: underline;
}

/***************
    Colors
****************/
body {
  color: #999;
}
header {
  background: #22313F;
}
